body {
    background-color: #C3DBFB;
    display: flex;
    justify-content: center;
    text-align: center;
   
        
}

.kivi{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    margin: 3rem;
    padding: 2.5rem;
    background-color: #6C85BA;
    border-radius: 10%;
}

img {
height: 30rem;
    width: 30rem;
}